<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @user.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', 'http://localhost:3000/books' %>
